.edit-section {
    background-color: var(--color-bg-page);
}

.theme-settings-box {
    margin-top: 2rem;
}
.theme-settings-box span {
    font-size: 1.9rem;
    font-weight: var(--bold-font);
    color: var(--color-text-main);
}
.theme-settings-box .themes-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme-settings-box .themes-box label {
    width: 5rem;
    height: 5rem;
    background: transparent;
    display: inline-block;
    margin-top: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.themes-box input[type="radio"]:checked + label {
    border: .4rem solid var(--color-btn-primary);
}
.theme-row {
    padding-bottom: 5rem;
}
.btn-primary {
    margin-top: 2rem;
}
/* add social media */
.social-links-row {
    list-style: none;
    padding: 0;
}
.social-links-box {
    margin-bottom: 1rem;
    display: block; /* hidden by default */
}
.main-pop {
    width: 100%;
    background: transparent;
    position: relative
}
.popover {
    display: none;
    width: 100%;
    position: fixed;
    top: 40%;
    z-index: 99999;
}
.popover-container {
    background: #ffffff;
    padding: 1.5rem;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 .4rem 2rem rgba(0,0,0,0.2);
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}
.popover-buttons {
    margin-top: 2rem;
}

.popover-buttons {
    text-align: right;
}

#social-select {
    font-size: 1.6rem;
    margin: 1.5rem 0;
    width: 100%;
    padding: 1rem 3rem 1rem 0.75rem;
    border: .1rem solid var(--color-border);
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    outline: none;
}

button:focus {
    outline: none;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
}